* text=auto eol=lf

*.rs  text diff=rust
*.md  text diff=markdown
*.sh  text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

Cargo.lock text linguist-generated=true

*.png   binary
*.jpg   binary
*.ico   binary
*.woff2 binary
